* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: inherit;
  color: inherit;
}
body {
  background-color: #ccc;
  height: 3000px;
}

@media (min-width: 1220px) {
  /* header */
  header {
    width: 100%;
    padding: 20px 50px;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    color: #fff;
    backdrop-filter: blur(15px);
    font-weight: bold;
    font-size: 1.2rem;
    /* background-color: #00000030; */
    box-shadow: 0px 0px 10px #00000070;
    transition: 0.5s;
  }
  header.on {
    background-color: #fff;
    color: #000;
  }
  header.on #menu li {
    text-shadow: 0px 0px 2px #00000070;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    width: 150px;
  }
  header h1 img {
    display: none;
    width: 100%;
  }
  header h1 img.on {
    display: block;
  }
  header #menu {
    display: flex;
    gap: 5vw;
  }
  header #menu li {
    text-shadow: 0px 0px 4px #ffffff99;
    transition: 0.4s;
  }
  header #menu li:hover,
  header #menu li.on {
    color: #ea0726;
    transform: scale(1.1);
    text-shadow: 0px 0px 2px #ffffff70;
  }
  header .hclose {
    display: none;
  }
  header .bars {
    display: none;
  }
}
@media (max-width: 1220px) and (min-width: 630px) {
  /* header */
  header {
    width: 100%;
    padding: 20px 4vw;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    color: #fff;
    backdrop-filter: blur(15px);
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0px 0px 10px #00000070;
    transition: 0.5s;
  }
  header.on {
    background-color: #fff;
    color: #000;
  }
  header.on #menu li {
    text-shadow: 0px 0px 2px #00000070;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  header h1 {
    width: 12vw;
  }
  header h1 img {
    display: none;
    width: 100%;
  }
  header h1 img.on {
    display: block;
  }
  /* 헤더 메뉴 목록 */
  header #menu {
    position: absolute;
    right: -100%;
    top: -20px;
    color: #000;
    width: 50%;
    padding-left: 5vw;
    height: 100vh;
    background-color: #fff;
    align-content: center;
    box-shadow: -2px 0px 10px #00000060;
  }
  header #menu li {
    font-size: 3vw;
    text-shadow: 0px 0px 4px #ffffff99;
    margin-bottom: 50px;
    transition: 0.4s;
  }
  header #menu li:hover,
  header #menu li.on {
    color: #ea0726;
    padding-left: 5%;
    text-shadow: 0px 0px 2px #ffffff70;
  }
  header #menu .hclose {
    font-size: 28px;
    position: absolute;
    top: 20px;
    right: 50px;

    cursor: pointer;
  }
  /* 헤더 햄버거바 모드 */
  header .bars {
    cursor: pointer;
    font-size: 28px;
  }
}
@media (max-width: 630px) {
  /* header */
  header {
    width: 100%;
    padding: 20px 4vw;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    color: #fff;
    backdrop-filter: blur(15px);
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0px 0px 10px #00000070;
    transition: 0.5s;
  }
  header.on {
    background-color: #fff;
    color: #000;
  }
  header.on #menu li {
    text-shadow: 0px 0px 2px #00000070;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  header h1 {
    width: 12vw;
  }
  header h1 img {
    display: none;
    width: 100%;
  }
  header h1 img.on {
    display: block;
  }
  /* 헤더 메뉴 목록 */
  header #menu {
    position: absolute;
    right: -100%;
    top: -20px;
    color: #000;
    width: 50%;
    padding-left: 5vw;
    height: 100vh;
    background-color: #fff;
    align-content: center;
    box-shadow: -2px 0px 10px #00000060;
  }
  header #menu li {
    font-size: 3vw;
    text-shadow: 0px 0px 4px #ffffff99;
    margin-bottom: 50px;
    transition: 0.4s;
  }
  header #menu li:hover,
  header #menu li.on {
    color: #ea0726;
    padding-left: 5%;
    text-shadow: 0px 0px 2px #ffffff70;
  }
  header #menu .hclose {
    font-size: 28px;
    position: absolute;
    top: 20px;
    right: 50px;

    cursor: pointer;
  }
  /* 헤더 햄버거바 모드 */
  header .bars {
    cursor: pointer;
    font-size: 28px;
  }
}
